main{
  min-height: 800px;
}
.hi{
  padding: 70px 10px 10px;
  text-align: center;  
}

.logout-button-class{
  position: absolute;
  right: 20px;
  padding: 10px;
}

#logout-button{
  background-color:#EFF7F1;
  color: #0E3728;
}

.blog-feed-admin a {
  margin-left: 10px 
}


.blog-feed-admin{
 background-color: #F2F8FD;
 border-radius: 50px;
 border: solid 1.5px #0E3728;
 padding: 20px;
 margin: 10px 20px 20px 20px;
}

.blog-feed-admin h3{
  padding: 20px;
 }

.post-container{
  margin-left: 20px;
}

.new{
  position: relative;
  align-items: center;
  
}

@media (min-width: 737px) {

  main{
    min-height: 1000px;
  }

  .new{
    position: absolute;
    right: 50px; 
  }

  .hi{
    padding: 40px;  
  }
  

}