
body{
  margin: 0;
  padding: 0;
  background-color: #EFF7F1; 
}

main{
  border: solid 1.5px #0E3728;
}

header {
  background-color: #EFF7F1;
  border: 1.5px solid #0E3728; 
  border-bottom: none; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

header:hover{
  background-color: #A0FBD6;
}

.logo a {
  font-family: "Lemon", serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0E3728;
  margin: 0 10px;
  display: inline-block;
}

.header-nav {
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #0E3728;
}

.header-nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;  
  flex-grow: 1; 
  padding: 0px;
}

.header-nav li {
  display: inline-block;
  padding: 10px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #0E3728;
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}


h1{
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #0E3728;
  margin: 0px;
}

h2{
  font-family: "Jaldi", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #0E3728;
  margin: 0px;
}

h3{
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 0px;
  padding: 0%;
  text-transform: uppercase;
  color: #0E3728;
}

p{
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

button{
  font-family: "Jaldi", sans-serif;
  font-size: 20px;
  color: #F2F8FD;
  background-color: #0E3728;
  border: 1.5px solid #0E3728;
  border-radius: 50px;
  padding: 7px 40px;
  margin: 10px;
}

button:hover {
  background-color: #A0FBD6;
  color: #0E3728;
}



footer{
  background-color: #0E3728;
  height: 60px;
  padding: 100px 5px 0px 10px;
  display: flex;
}


footer img{
  height: 35px;
  padding: 5px;
}

.footer-logo{
  font-family: "Lemon", serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #F2F8FD;
  display: flex;
  justify-content: flex-end; 
  flex-grow: 1; 
  margin: 11px; 
}




@media (min-width: 737px) {
  .logo a{
    font-size: 30px; 
    margin: 0 70px;
  }



  .header-nav li {
    padding: 20px; 
  }

  .header-nav ul {
    padding: 70px;
  }

  h1{
    font-size: 60px;
  }

  h2{
    font-size: 60px;
  }
  
  h3{
    font-size: 30px;
  }

  p{
    font-size: 18px;
    letter-spacing: 5%;
  }

  .footer-logo{
    font-size: 30px;
  }

  button{
    padding: 10px 70px; 
  }
}