.hero-element{
  margin: 20px auto;
  background-image:url('/img/hero\ img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
  max-width: 360px;
  border-radius: 50px;
  border: solid 1.5px #0E3728;
}


.hero-element >h1{
  padding: 50px 20px 5px 20px;
}

.hero-element button{
  margin: 0px 0px 0px 20px;
}

 h1 >span{
  background-color: #FDF0F2;
  line-height: 2;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 200px;
  margin: auto;
  overflow: hidden;
  border-radius: 50px;
  border: solid 1.5px #0E3728;
  margin-bottom: 20px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;

}



.carousel-item img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  
}

.carousel-item h1{
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 30px;
  top:50%;
  left: 37%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.carousel-item h3{
  position: absolute;
  display: flex;
  align-items: center;
  top:70%;
  left: 37%;
  transform: translate(-50%, -50%);
  opacity: 1;
  text-transform: uppercase;
}

#display-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;  
}


.post-wrapper {
  flex: 1 1 1; 
  box-sizing: border-box;
  
}

.display-posts{
  padding: 40px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}


.media-container {
  position: relative;
  text-align: center;
  
}

.media-container h2 {
  position: absolute;
  display: flex;
  align-items: center;
  top:50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
}

h2 span {
  background-color: #FDF0F2;
  line-height: 1;
}


.media-container span{
  line-height: 1;
}


  
.media-container h2:hover{
  opacity: 1;
}






.post-container img{
  height: 140px;
  width: 160px;
  object-fit: cover;
  border-radius: 50px;
  border: solid 1.5px #0E3728;
  padding: 0px;  
}




@media (min-width: 737px) {
  
  .hero-element{
    height: 869px;
    max-width: 1600px;
   
  }

  .hero-element >h1{
    padding: 200px 0px 5px 240px;
  }
  
  .hero-element button{
    margin: 0px 0px 0px 240px;
  }
  
  .post-container img{
    width: 550px;
    height: 300px;  
  }

  .media-container h1 {
    font-size: 40px;
  }
  
  .carousel {
    max-width: 1600px;
    height: 600px;
  }

  .carousel-item h1{
    font-size: 50px;  
  }

  .carousel-item img {
    height: 600px; 
  }
}


