.hero-element{
  margin: 20px auto;
  background-image:url('/img/hero\ img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
  max-width: 360px;
  border-radius: 50px;
  border: solid 2px #0E3728;
}


.hero-element >h1{
  padding: 50px 20px 5px 20px;
}

.hero-element button{
  margin: 0px 0px 0px 20px;
}

 h1 >span{
  background-color: #FDF0F2;
  line-height: 2;
}

span:hover{
  background-color:#A0FBD6
}

@media (min-width: 737px) {
  
  .hero-element{
    height: 869px;
    max-width: 1600px;
  }

  .hero-element >h1{
    padding: 200px 0px 5px 60px;
  }
  
  .hero-element button{
    margin: 0px 0px 0px 60px;
  }
  
}