.hero-element{
  margin: 20px auto;
  background-image:url('/img/hero\ img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 340px;
  max-width: 360px;
  border-radius: 50px;
  border: solid 1.5px #0E3728;
}


.hero-element >h1{
  padding: 50px 20px 5px 20px;
}

.hero-element button{
  margin: 0px 0px 0px 20px;
}

 h1 >span{
  background-color: #FDF0F2;
  line-height: 2;
}



.carousel h2{
  text-transform: uppercase;
  margin: 20px;
}

#display-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: center;  
}


.post-wrapper {
  flex: 1 1 1; 
  box-sizing: border-box;
  
}

.display-posts{
  padding: 40px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}


.media-container {
  position: relative;
  text-align: center;
}

.media-container h1 {
  position: absolute;
  display: flex;
  align-items: center;
  top:50%;
  left: 50%;
  border-radius: 4px;
  opacity: 0;
  color: #0E3728;
  font-size: 35px;
  transform: translate(-50%, -50%);
}

.media-container h1:hover{
  opacity: 1;
}
  



.post-container img{
  height: 340px;
  width: 360px;
  object-fit: cover;
  border-radius: 50px;
  border: solid 1.5px #0E3728;
  padding: 0px;  
}


.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
  border: 2px solid #0E3728;
  border-radius: 10px;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}


@media (min-width: 737px) {
  
  .hero-element{
    height: 869px;
    max-width: 1600px;
  }

  .hero-element >h1{
    padding: 200px 0px 5px 240px;
  }
  
  .hero-element button{
    margin: 0px 0px 0px 240px;
  }
  
  .post-container img{
    width: 550px;
    height: 300px;  
  }
}


