.new-post h1{
  text-align: center;  
}

.new-post-form{
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.button-div {
  display: flex;
  justify-content: center; 
}



@media (min-width: 737px) {


  

}